/* Common css */
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1145px;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
/* Common css */
/*Header css*/
.nav-content{
    text-transform: uppercase;
    font-size:18px;
    line-height:100%;
    font-weight:bold;
}
.nav-content-list  {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
    padding: 25.5px;
}
.nav-content-list-item{
padding-left: 72px;
    list-style-type: none;
}
.nav-content-list-item-aside-right{
    padding-left:50px;
    list-style-type: none;
}
.nav-content-link{
    color:#FF0000;
}
/*Header css*/
/*main css*/
.main-article-picture-iphone{
    width: 100%;
    margin-bottom:48px;
}
.main-article-content{
    font-family: Montserrat;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.paragraph-intro{
    margin-bottom:28px;
}
.paragraph-body{
    margin-bottom:66px;
}
.main-article-content-heading{
    font-family: Montserrat;
    font-weight:bold;
    font-size:22px;
    line-height:27px;
    display:flex;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom:38px;
    text-align: start;
    justify-content: center;
}
/* button css*/
a {
    text-decoration: none;
    color: white;
}
.button{
    text-transform: uppercase;
    background-color:#FF0000;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-weight: normal;
    font-size:12px;
    line-height:12px;
    letter-spacing: 1.8px;
    height: 51px;
    display: block;
    margin: 0 auto;
}
/* button css*/
/*main css*/
/*footer css*/
.footer-heading{
   font-family: Montserrat;
    line-height: 20px;
    font-weight: bold;
    color: #373737;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 29px;
}
/*footer css*/