/*common classes*/
.link{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.common-styles{
    background-image: url("../img/background.png");
    font-family:'Roboto',sans-serif;
    color: #FFFFFF;
}

.container{
    max-width: 1025px;
    width: 100%;
    margin: 0 auto;
}
/*common classes*/
/*header*/
.contact-and-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.logo-link{
    text-transform: uppercase;
    display: flex;
    color: #FFFFFF;
    text-align: center;
}

.logo-img{
    height: 47px;
}

.logo-heading{
    text-align: left;
    margin: 0;
    padding-left: 8px;
    font-size: 29px;
    line-height: 29px;
}

.logo-heading--new-line{
    font-size: 18px;
    line-height: 18px;
    display: block;
}

.mail{
    padding-bottom: 19px;
}

.mail , .tel {
    text-align: right;
    display: block;
}

.logo-link:hover .logo-img{
    content: url("../img/logo hover.png");
}

.logo-link:hover .logo-heading{
    color:#F26522 ;
}

.logo-link:hover .logo-heading--new-line{
    color:#F26522 ;
}

.mail:hover,.tel:hover{
    color: #F26522;
}
/*header*/
/*footer*/
.footer-copyright{
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
/*footer*/
/*main*/
.main-content{
    margin-top: 17px;
}

.propositions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.propositions-item-img-container{
    position: relative;
    overflow: hidden;
}

.propositions-item-img{
    width: 100%;
}

.propositions-details{
    position: absolute;
    width: 100%;
    bottom:-75px;
    background-color: #F26522;
}

.propositions-details-description{
    font-size: 10px;
    line-height: 10px;
    text-align: left;
    padding-left: 15px;
    padding-right: 128px;
    margin-bottom: 0;
}

.propositions-details-price{
    display: inline-block;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
}

.propositions-details-link{
    font-family: 'Roboto',sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: right;
    padding-left: 128px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 12px;
    padding-right: 20px;
}

.propositions-details-link:after{
    content: url("../img/arrow.svg");
    padding-left: 1rem;
}

.propositions-item-link{
    display: block;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 37px;
}

.sightseeing-link{
    padding-top:16px ;
}

.propositions-item:hover .propositions-item-link{
    color: #F26522;
}

.propositions-item:hover .propositions-details{
    bottom: 0;
    transition: .6s ease-in-out;
}
/*main*/


