.common-styles{
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
}

.container{
    max-width: 444px;
    margin: 0 auto;
}

.link{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

/*header*/
.page-header{
    display: flex;
    justify-content: space-between;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
}

.logo{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 6vw;
    margin: 0;
    padding-top: calc((58px - 22px) / 2);
    transition: color 0.5s ease;
}

.logo-link:hover{
    color: #3CB878;

}

.authorization-and-icons-container{
    display: flex;
    align-items: center;
}

.header-icon{
    fill: #FFFFFF;
    margin-right: 2vw;
    transition: fill 0.5s ease;

}

.header-icon:hover{
    fill: #3CB878;
}

.authorization::before{
    content:" ";
    width: 1px;
    height: 19px;
    margin-right: 2vw;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.9);
}
.authorization{
    display: inline-block;
    margin: 0;
    padding-right: 4vw;
    color: #FFFFFF;
}

.log-in{
    color: #FFFFFF;
    transition: color 1s ease;

}

.log-in:hover{
    color: #3CB878;
}

.sign-up{
    color: #FFFFFF;
    transition: color 1s ease;
}

.sign-up:hover{
    color: #3CB878;
}
/*header*/
/*main*/
.main-sign-up{
    padding-bottom: 5vh;
    position: relative;
    margin-top: 7vh;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.main-sign-up-container{
    max-width: 324px;
    margin: 0 auto;
    position: relative;
}

.main-sign-up-heading{
    display: inline-block;
    position: relative;
    padding-top: 5vh;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #434343;
}

.main-sign-up-heading::before{
    content:'';
    width: 18px;
    height: 18px;
    position: absolute;
    left: -60px;
    top: 69%;
    background: #3CB878;
}

.main-log-in{
    display: inline-block;
    padding-left: 202px;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #3CB878;
}

.sign-up-link{
    display: inline-block;
    position: relative;
    margin-top:15px;
    padding: 17px 22px 17px 48px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.facebook-link{
    background: #305DB8;
}

.sign-up-link::before{
    content: ' ';
    height: 28px;
    margin-right: 18px;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook-link::before{
    content: ' ';
    border: 1px solid #0A162F ;
}

.facebook-icon{
    position: absolute;
    left:18px;
    top:calc((48px - 24px) /2);
    fill: #FFFFFF;
}

.facebook-link:hover{
    background-color: #022263;
}

.google-link{
    background: #DF4A32;
}

.google-link::before{
    content: '';
    margin-right: 30px;
    border: 1px solid #2B0D09 ;
}

.google-icon{
    position: absolute;
    fill: #FFFFFF;
    top: calc((51px - 19px) /2);
    left: 12px;
}

.google-link:hover{
    background-color: #AB1F09;
}

.sign-up--or{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #848484;
    margin-top: 31px;
    margin-bottom: 11px;
    position: relative;
}

.sign-up--or::before{
    content: '';
    height: 1px;
    width: 47%;
    border-bottom: 1px solid #F2F2F2 ;
    position: absolute;
    left: 0;
    top: 50%;
}

.sign-up--or::after{
    content: '';
    height: 1px;
    width: 47%;
    border-bottom: 1px solid #F2F2F2 ;
    position: absolute;
    right: 0;
    top: 50%;
}

.sign-up-input{
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px ;
    max-height: 46px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
    outline: none;
    color:#434343;
}

.sign-up-input:not(.sign-up-name){
    margin-top: 15px;
}

.sign-up-input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.sign-up-input::placeholder{
    color: #BEBEBE;
}

.sign-up-terms{
    margin-top: 12px;
    margin-bottom: 20px;
    outline: none;
}

.sign-up-terms-link{
    color: rgba(60, 184, 120, 0.8);
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(60, 184, 120, 0.8);
}

.sign-up-create-account{
    text-align: center;
    padding: 1rem 99px 1rem 99px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    display: block;
    color: #FFFFFF;
    outline: none;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.sign-up-create-account:hover{
    background: #01813F;
    cursor: pointer;
}

.sign-up-create-account:focus{
    background: #01813F;
}

/*.checkbox-label{ !*give properly to label*!*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding-left: 5px;*/
/*    margin-top: 12px;*/
/*    padding-bottom: 20px;*/
/*}*/

/*input[type="checkbox"]:checked,*/
/*input[type="checkbox"]:not(:checked){ !*move default checkbox away,in active and not active condition*!*/
/*    position: absolute;*/
/*    left:-9999px;*/
/*}*/

/*.checkbox-label::before{ !*make custom checkboxes*!*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top:-2px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border: 1px solid #F2F2F2;*/
/*    background: rgba(0, 0, 0, 0.0001);*/
/*}*/
/*!*input[type="checkbox"]:checked +*!*/
/*.checkbox-label::after{ !*make custom tick*!*/
/*    content: url("../img/check.svg");*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    left: 3px;*/
/*}*/

/*input[type="checkbox"]:checked + .checkbox-label::after{*/
/*    opacity: 1;*/
/*}*/

/*input[type="checkbox"]:not(:checked) + .checkbox-label::after{*/
/*    opacity: 0;*/
/*}*/

.form-increase-height{
    text-align: center;
    opacity: 0;
    cursor: default;
    color: #FFFFFF;
}
/*main*/
