/* common css*/
body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
.line {
    height: 3px;
    margin: 0 auto;
}
.article-heading{
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 0 auto;
}
p{
    margin: 0;
}
/* common css*/
/* nav*/
.nav-logo{
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nav-bar{
    display: flex;
    justify-content: center;
}
.nav-bar-list-item{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 35px;
}
.nav-bar-list-item:hover{
    color:#14B9D5;
}
.logo-link{
    display: flex;
    padding-left: 27px;
}
.logo-name{
    padding-left: 27px;
    text-decoration: none;
    color: #FFFFFF;
}
.nav-search-img{
    display: inline-block;
    padding: 26px 25px;
    background: #000000;
}
/* nav*/
/*header*/
.header-section{
    text-align: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 50% 60%;
    background-attachment: fixed;
    background-image: url("../images/navbar/sunrise-city.jpeg");
}
.header-heading{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 164px;
    margin: 0;
}
.header-link{
    height: 55px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 60px  auto;
    cursor: pointer;
}
.subscribe-link{
    background: #89CA62;
    padding: 16px 19px;
    margin-right:20px;
}
.best-articles-link{
    background: #14B9D5;
    padding: 16px 29px ;
}
/*header*/
/*footer*/
.footer{
    height: 80px;
    background-color: #000000;
}
.footer-content{
    display: grid;
    grid-template:80px/ repeat(2,1fr);
    justify-items:end;
    align-items: center;
}
.footer-copyright{
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 0;
}
/*footer*/
/*main*/
/*hotels*/
.main-hotels{
    font-family:'Open Sans';
    font-weight: bold;
    max-width: 1900px;
    width: 100%;
    background: #F2F2F2;
    min-height: 1030px;
}
.main-hotels-heading{
    padding-top: 49px;
    padding-bottom: 52px;
}
.main-hotels-content{
    display: flex;
    flex-flow: column wrap;
    background: #F2F2F2;
    width: 100%;
    max-height: 830px;
}
.main-hotels-post{
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #353A3D;
    flex: auto;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.main-hotels-post:nth-child(1){
    height: 320px;
    margin-bottom: 31px;
    margin-right: 30px;
}
.main-hotels-post:nth-child(2){
    height:321px;
    margin-right: 30px;
}
.main-hotels-post:nth-child(3){
    height: 441px;
    margin-bottom: 32px;
    margin-right: 30px;
}
.main-hotels-post:nth-child(4){
    height: 309px;
    margin-right: 30px;
}
.main-hotels-post:nth-child(5){
    height: 355px;
    margin-bottom: 28px;
}
.main-hotels-post:nth-child(6){
    height: 441px;
}
/*hotels*/
/*clients*/
.main-clients{
    background-attachment: fixed;
    background-image: url("../images/parallax/parallax-background.jpeg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 50% 29%;
    height: 588px;
}
.main-line{
    background-color: #18B4CF;
    width: 60px;
    margin-top:87px ;
}
.main-clients-heading{
    padding-top: 106px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.main-clients-content{
    margin-top: 106px;
    display: grid;
    grid-template: 1fr/repeat(4,1fr);
    grid-column-gap: 1vw;
    text-align: center;
}
/*clients*/
/*top rated*/
.main-top-rated-heading{
    margin-top: 49px;
}
.main-top-rated-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(271px,1fr));
    margin-top: 52px;
    max-width: 1900px;
    justify-items: center;
}
.main-top-rated-img{
    width: 100%;
}
/*top rated*/
/*news*/
.main-news{
    margin-bottom: 77px;
}
.main-news-heading{
    margin-top: 48px;
}
.main-news-content{
    margin-top: 51px;
    display: grid;
    justify-items: center;
    grid-row-gap: 43px;
    column-gap: 2vw;
    grid-template:260px repeat(2,minmax(277px,1fr)) 260px/repeat(4,1fr);
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8"
}
.news-item1{
    grid-area: item1;
}
.news-item2{
    grid-area: item2;
}
.news-item3{
    grid-area: item3;
}
.news-item4{
    grid-area: item4;
}
.news-item5{
    grid-area: item5;
}
.news-item6{
    grid-area: item6;
}
.news-item7{
    grid-area: item7;
}
.news-item8{
    grid-area: item8;
}
.main-news-item{
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.main-news-item-heading{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding-right: 14px;
    color: #353A3D;
    margin-bottom:0;
    padding-bottom: 15px;
}
.main-news-item-description{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    padding-right: 14px;
}
.news-img{
    width: 100%;
}
.news-item1{
    display: flex;
    margin-right: 35px;
}
.news-item1 :nth-child(2){
    text-align: right;
}
.news-item2 :last-child{
    text-align: center;
    margin: 0;
    padding-top: 14px;
}
.news-item7 :nth-child(2){
    text-align: center;
}
.news-item8{
    display: flex;
    margin-left: 35px;
}
/*news*/
/*main*/
