body{
    background-color: black;
    overflow: hidden;
    transform: perspective(150px);
    perspective:500px;
    height: 100vh;
}


.activation-checkbox{
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #f8ce12;
    margin: 50vh  auto 0;
    display: block;
    font-size: 50px;
    max-width: 22ch;
    text-align: center;
}

input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

.stop-checkbox{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color:red;
    max-width: 22ch;
    text-align: center;
    display: none;
}

embed{
    display: none;

}

input[type=checkbox]:checked ~ .text{
     animation-play-state: running;
     display: block;
 }

input[type=checkbox]:checked + .activation-checkbox{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    display: none;
}

input[type=checkbox]:checked ~ embed{
    display: block;
    opacity: 0.1;
    position: absolute;
    top: -100px;
}

input[type=checkbox]:not(:checked) ~ embed{
    display: none;
}

input[type=checkbox]:checked ~ .stop-checkbox{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    display: block;
    opacity: 0.3;
}

.credits{
    transform: perspective(150px);
    perspective:500px;

}

.text{
    animation: star-wars-animation 30s linear infinite;
    animation-play-state: paused;
    display: none;
}

p{
    max-width:32ch;
    text-align: center;
    color: #f8ce12;
    font-size:70px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1ch;

}

.line-3,.line-4{
    text-align: left;
}

@keyframes star-wars-animation {
    from{
        transform:rotateX(20deg) translateY(100%);
    }

    to{
        transform:rotateX(25deg)  translateY(-100%);
    }
}
